
.swiper-container-horizontal > .swiper-pagination-bullets {
  display: flex;
  justify-content: flex-end;
  bottom: 0;
}

.swiper-pagination-bullet {
  width: $space;
  height: $space;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: {
    left: 0;
    right: $space;
    bottom: $space;
  }
}

.swiper-pagination{
  .swiper-pagination-bullet-active {
    &:nth-child(4n+1) {
      background: $red;
    }
  }

  .swiper-pagination-bullet-active {
    &:nth-child(4n+2) {
      background: $green;
    }
  }

  .swiper-pagination-bullet-active {
    &:nth-child(4n+3) {
      background: $blue;
    }
  }

  .swiper-pagination-bullet-active {
    &:nth-child(4n+4) {
      background: $yellow;
    }
  }
}

.swiper-container-gallery-thumbs {
    height: 150px;
    box-sizing: border-box;
    padding: 1rem 0;
}

.swiper-container-gallery-thumbs .swiper-slide {
    width: 15%;
    height: 100%;
    opacity: 0.4;
    padding-bottom: 0;
}

.swiper-container-gallery-thumbs .swiper-slide-active {
    opacity: 1;
}

.component-slider {
  .swiper-button-next, .swiper-button-prev {
    height: 100%;
    width: 50%;
    position: absolute;
    top: 22px;
    background-image: none;
  }

  .swiper-button-prev {
    left: 0;
  }

  .swiper-button-next {
    right: 0;
  }
}
