$body_bg: #fcfdf1;
$black: #55524e;

$red: #ed2224;
$green: #99ca45;
$blue: #4fc6e0;
$yellow: #ffd400;

$border-width: 1px;
$border: $border-width solid $black;

$font-size-base: 15px;
$font-size-large: 1.3rem;
$font: "Chapeau";
$font-folder: "../fonts/";

$space: 1rem;
$space-large: $space * 2;
$space-small: $space / 2;
