$enable-flex: true;

$container-max-widths: (
  lg: 1055px
);

@import '../node_modules/bootstrap/scss/bootstrap-grid';

@import 'variables';
@import 'fonts';

@import 'swiper_overrides';

body {
  letter-spacing: .05rem;

  color: $black;
  background-color: $body_bg;

  font-family: $font;
  font-size: $font-size-base;
  line-height: 1.6;

  text-rendering: geometricPrecision;
}

a {
  cursor: pointer;
  text-decoration: none;

  color: $black;
  border-bottom: $border;

  &:hover {
    color: $red;
    border-bottom: $border-width solid $red;
  }
}

header {
  margin: {
    top: 1.2rem;
    bottom: $space/2;
  }

  .claim {
    position: relative;

    display: table;

    height: 100%;
    margin-top: .1rem;

    &.active {
      font-weight: bold;
    }
  }

  a {
    display: table-cell;

    vertical-align: middle;

    border-bottom: none;

    font-size: 1.4rem;
    line-height: 1.3;

    &:hover {
      border-bottom: none;
    }

    &.green:hover {
      color: $green;
    }
  }
}

nav {
  &.nav--bordered {
    border: {
      bottom: 1px solid #999;
    }
  }

  ul {
    height: $space-large;
    display: table;

    margin: 0;
    padding: 0;
  }

  li {
    display: table-cell;

    padding-right: $space;

    vertical-align: middle;

    &:nth-child(4n+1) {
      a {
        &:hover {
          color: $red;
        }
      }
    }

    &:nth-child(4n+2) {
      a {
        &:hover {
          color: $green;
        }
      }
    }

    &:nth-child(4n+3) {
      a {
        &:hover {
          color: $blue;
        }
      }
    }

    &:nth-child(4n+4) {
      a {
        &:hover {
          color: $yellow;
        }
      }
    }
  }

  a {
    border-bottom: none;

    &:hover {
      border-bottom: none;
    }
  }

  &.nav--small {
    margin-bottom: 1.5rem;

    font-size: .8rem;

    ul {
      height: $space-large;
    }
  }

  .nav--active {
    font-weight: bold;
  }
}

main {
  background: {
    position: top center;

    repeat: space;
  }
}

.lined {
  background-image: url("../images/background_line-left.svg");
  background-repeat-y: repeat;
  background-size: 100%;
}

.background--lined {
  background-image: url("../images/background_line.svg");
}

.child {
  background: {
    position: top center, bottom center;

    image: url(../images/background_child_top.svg), url(../images/background_child_bottom.svg);
    repeat: no-repeat, no-repeat;
  }
}

%component__image {
  width: 100%;
  padding-bottom: 50%;

  background: {
    size: cover;
    repeat: no-repeat;
  }
}

.swiper-slide {
  @extend %component__image;
}

.swiper-container-gallery .swiper-slide {
  padding-bottom: 0;

  img {
    width: 100%;
  }
}

.component {
  margin-bottom: $space * 3;

  &__image {
    margin-bottom: $space;

    @extend %component__image;

    &--inline {
      padding-bottom: 0;
    }

    &--portrait {
      padding-bottom: 100%;

      background: {
        position: center;

        size: contain;
      }
    }
  }

  &__iframe {
    @extend %component__image;
    margin-bottom: $space;
    position: relative;
    overflow: hidden;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
    }
  }

  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }

  ul {
    margin: {
      top: $space;
      bottom: $space;
      left: $space * 1.1;
    }
    padding: 0;

    li {
      margin-bottom: $space-large;

      &:nth-child(4n+1) {
        a {
          &:hover, &.nav--active {
            color: $red;
            border-bottom: $border-width solid $red;
          }
        }
      }

      &:nth-child(4n+2) {
        a {
          &:hover, &.nav--active {
            color: $green;
            border-bottom: $border-width solid $green;
          }
        }
      }

      &:nth-child(4n+3) {
        a {
          &:hover, &.nav--active {
            color: $blue;
            border-bottom: $border-width solid $blue;
          }
        }
      }

      &:nth-child(4n+4) {
        a {
          &:hover, &.nav--active {
            color: $yellow;
            border-bottom: $border-width solid $yellow;
          }
        }
      }
    }
  }
}

h1, p {
  margin: {
   top: $space;
   bottom: $space;
  }
}

.entry-title {
  line-height: 1;
  padding-top: .4rem;
  margin-bottom: 2.1rem;
}

h1 {
  font-size: $font-size-large;
  margin-bottom: 1rem;
}

.text--large {
  font-size: $font-size-large;
}

.text-columns {
  column-count: 2;
  column-gap: $space-large;

  @media screen and (max-width: 520px) {
    column-count: 1;
  }
}

.hidden--tablet {
  @media screen and (max-width: 1023px) {
    display: none !important;
  }
}

.flex-wrapper {
  @media screen and (min-width: 1024px) {
    display: flex;
  }
}

footer {
  border-top: 1px solid #999;
  padding-top: $space;
}

.component {
  .icon__list {
    margin-left: 0;

    list-style: none;

    li {
      min-height: $space-large;
    }

    &--download {
      &:before {
        float: left;
        clear: both;
        margin-top: -.6rem;
        width: $space-large;
        height: $space-large + $space;

        content: '';

        background: {
          position: center left;

          image: url("../images/icon_download.svg");
          repeat: no-repeat;
        }
      }
    }
  }
}

figure {
  margin: 0;
}

.space-small {
  margin-bottom: $space;
}

.row-block {
  display: block !important;
}

.section__row {
  display: flex;
  width: 100%;
}

form {
  display: flex;
  flex-wrap: wrap;
}

[type=text],
[type=email],
textarea {
  font-family: inherit;
  border: 1px solid black;
  width: 100%;
  height: 2rem;
}

textarea {
  height: 112px;
  resize: none;
}
.label {
  margin-bottom: 1rem;
  display: block;
}

[type=submit] {
  font-family: inherit;
  margin-bottom: 3rem;
  border: 1px solid black;
  padding: .5rem 1rem;
  margin-left: 1rem;
}

.nav__mobile {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $body_bg;
  z-index: 1;
  position: fixed;
  overflow: scroll;
  display: none;
  padding-top: 1rem;

  .active {
    font-weight: bold;
  }

  ul {
    margin: 0;
    padding: 1rem;
    list-style: none;
    font-size: 1.3rem;

    li {
      margin-bottom: 1rem;

      a {
        border-bottom: none;
      }
    }
  }
}

.open {
  display: block;
}

.button__toggle {
  position: absolute;
  right: 1rem;
  font-size: 29px;
  border: 1px solid black;
  width: 46px;
  margin-top: 9px;
  display:none;

  @media screen and (max-width: 1023px) {
    display: block !important;
  }
}

.fixed {
  position: fixed;
}

.news_link_list {
  list-style: none;
  margin-left: 0 !important;
}

.language-switcher {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;

  li {
    display: inline;
    font-size: 1rem;
    line-height: 1;

    a {
      line-height: 1;
      font-size: 1rem;
      display: inline;
      vertical-align: initial;
    }

    &.nav--active a {
      font-weight: 600;
    }
  }
}

.nav__mobile .language-switcher {
  text-align: left;
}
